body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  font-family: verdana, sans-serif;
}

h1 {
  font-size: 2.5em;
}

.heading {
  margin: 5px 0;
}

/* HOME PAGE */
.content {
  width: 75%;
  min-height: 200px;
  padding: 8px 10px;
  border: 1px solid black;
  border-radius: 8px;
}

/* BLOG PAGE */
.blog-post {
  background-color: whitesmoke;
  border: 2px solid grey;
  margin: 16px 0;
  padding: 4px 12px;
}
.blog-title {
  margin: 10px 0;
}